target/
build/
*.jar
node_modules/
.DS_Store
*.ptau

# Flutter build artifacts
flutter/.dart_tool/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/ios/Pods/
flutter/ios/.symlinks/
flutter/android/.gradle/
flutter/android/app/build/
flutter/.packages
flutter/pubspec.lock

# Flutter bindings build artifacts
mopro_flutter_bindings/rust/target/
mopro_flutter_bindings/.dart_tool/
mopro_flutter_bindings/build/
mopro_flutter_bindings/example/